.App .section.sponsors {
  background-color: white;
  text-align: center;
  margin-bottom: 0;
}

.sponsors * {
  color: #333447;
}

.sponsors-container {
  text-align: center;
}

.sponsor .sponsor-description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.5rem;
}

.sponsor-name {
  height: 15%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.sponsor-logo-container {
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.sponsor-logo-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.spon-logo {
  width: 128px;
  height: auto;
  display: inline-block;
}

.sponsor-logo-parent-extension {
  clear: both;
}

.sponsors-row {
  clear: both;
  display: inline-flex;
}

.one-sponsor {
  display: block;
}

.spon-header {
  margin-left: 20%;
  margin-right: 20%;
}

#Sponsors #contributions {
  width: 100%;
}

