.sponsors {
  background-color: white;
  text-align: center;
}

.sponsors-container {
  text-align: center;
}

.sponsor {
  /* padding-left: 2em; */
  /* padding-right: 2em; */
  padding: 2em;
}

.sponsor-name {
  height: 15%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1em;
}

.sponsor-logo-container {
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

.sponsor-logo-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.sponsor-logo {
  width: 128px;
  height: auto;
  display: inline-block;
}

.sponsor-logo-parent-extension {
  clear: both;
}

.sponsors-row {
  /* text-align: center; */
  clear: both;
  display: inline-flex;
}

.one-sponsor {
  display: block;
}

