.card {
  height: 85% !important;
  width: 85% !important;
  max-width: none !important;
  min-width: none !important;
  margin-left: 7.5%;
  margin-bottom: 2.5%;
}

.vertical-cards {
  display: inline-flex;
  /* height: 27em !important; */
}

.vertical-card {
  width: 45.7%;
  /* height: 474px !important; */
  /* overflow: hidden; */
  /* height: 100%; */
  /* margin-left: 1em; */
  /* margin-right: 1em; */
  left: 1em;
}

.vertical-card-image {
  /* max-height: 474px; */
}

.card-media {
  /* height: 100% !important; */
}

.card-element {
  /* height: 100% !important; */
  margin-left: 1em;
  margin-right: 1em;
}
