.card {
  height: 85% !important;
  width: 85% !important;
  max-width: none !important;
  min-width: none !important;
  margin-left: 7.5%;
  margin-bottom: 2.5%;
}

.vertical-cards {
  display: inline-flex;
}

.vertical-card {
  width: 45.7%;
}
