body {
  background-color: #22596B;
}

.App {
  text-align: center;
}

.App .section {
  clear: both;
  margin-top: 2.5%;
}

.App-intro {
  font-size: large;
}

.App .section {
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.App .card-element:hover {
  cursor: pointer;
}

* {
  color: #EBFAFF;
}

@font-face {
  font-family: 'Aquiline Two';
  src: url('./libraries/fonts/AquilineTwo.ttf') format('truetype');
}

@font-face {
  font-family: 'Quartan LT Std Bold';
  src: url('./libraries/fonts/Quartan-LT-Std-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./libraries/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url('./libraries/fonts/MaterialIcons-Regular.woff2') format('woff2'),
  url('./libraries/fonts/MaterialIcons-Regular.woff') format('woff'),
  url('./libraries/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

