body {
  background-color: #22596B;
}

.App {
  text-align: center;
}

.App .section {
  clear: both;
  margin-top: 2.5%;
}

.App-intro {
  font-size: large;
}

.App .section {
  width: 100%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.App .card-element:hover {
  cursor: pointer;
}

* {
  color: #EBFAFF;
}

@font-face {
  font-family: 'Aquiline Two';
  src: url('./libraries/fonts/AquilineTwo.ttf') format('truetype');
}

@font-face {
  font-family: 'Quartan LT Std Bold';
  src: url('./libraries/fonts/Quartan-LT-Std-Bold.ttf') format('truetype');
}
